.main.movies-index
  .container
    %h1 映画一覧
    .movies-search
      = form_tag('/movies/search') do
        %input{ name: 'text', value: params[:text] }
        %input{ type: 'submit', value: '検索' }
    .movie-card-wrapper
      - @movies.each do |movie|
        = link_to "/movies/#{movie.id}" do
          .movie-card
            .movie-card__image
              - if movie.image
                %img{ src: "https://s3-ap-northeast-1.amazonaws.com/dev-movie-com/images/#{movie.image}" }
              - else
                %img{ src: 'https://s3-ap-northeast-1.amazonaws.com/dev-movie-com/images/dummy.png' }
            .movie-card__text
              %h3= movie.title
              %i.fa.fa-star
              %span= movie.average_point
              %p= movie.release_date
