.main.movies-index
  .container
    %h1 映画一覧
    .movies-search
      = form_tag('/movies/search') do
        %input{ name: 'text', value: params[:text] }
        %input{ type: 'submit', value: '検索' }
    .movie-card-wrapper
      - @movies.each do |movie|
        = link_to "/movies/#{movie.id}" do
          .movie-card
            .movie-card__image
              %img{ src: 'http://eiga.k-img.com/images/movie/83796/photo/5eabb1a8bc7a6e98/160.jpg?1467791823' }
            .movie-card__text
              %h3= movie.title
              %i.fa.fa-star
              %span= movie.average_point
              %p= movie.release_date
