.main.movies-show
  .container
    %h2= @movie.title
    .average_point
      平均レビュー:
      - if @movie.average_point
        = @movie.average_point
        %br
        = link_to 'すべての評価を見る', "/movies/#{@movie.id}/reviews"
      - else
        N/A
    %p
      公開日:
      = @movie.release_date
    %p= @movie.description

    = link_to '一覧に戻る', '/movies'
