!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MovieReview
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"}
  %body
    %header
      .container
        .header-logo
          - if @current_user
            = link_to 'Movie.com', '/movies'
          - else
            = link_to 'Movie.com', '/'
        %ul.header-menus
          %li= link_to '映画一覧', '/movies'
          - if @current_user
            %li= link_to @current_user.name, "/users/#{@current_user.id}"
            %li= link_to 'ログアウト', '/logout', {method: :post}
          - else
            %li= link_to 'ログイン', '/login'
            %li= link_to '新規登録', '/signup'

    - if flash[:notice]
      .flash= flash[:notice]

    = yield

    // フッターのデザインと内容も任せた！！ by相馬
    %footer
      .container
        .footer-logo MovieReview
