!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MovieReview
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .header-logo
        - if @current_user
          = link_to 'Movie.com', '/movies'
        - else
          = link_to 'Movie.com', '/'
      %ul.header-menus
        %li= link_to '映画一覧', '/movies'
        %li= link_to 'Movie.comとは', '/about'
        - if @current_user
          %li= link_to @current_user.name, "/users/#{@current_user.id}"
          %li= link_to 'ログアウト', '/logout', {method: :post}
        - else
          %li= link_to 'ログイン', '/login'

    - if flash[:notice]
      .flash= flash[:notice]

    = yield
